#site_uwsgi.ini 
[uwsgi]

# Настройки, связанные с Django
# Корневая папка проекта (полный путь)
chdir           = {{ project_path }}
# Django wsgi файл
module          = {{ project_name }}.wsgi

# общие настройки
# master
master          = true
# максимальное количество процессов
processes       = 5
# полный путь к файлу сокета
socket          = {{ project_path }}/{{ project_name }}.sock
# права доступа к файлу сокета
chmod-socket    = 666
# очищать окружение от служебных файлов uwsgi по завершению
vacuum          = true

